<template>
  <panel-item :field="field">
    <template slot="value">
      <json-compare :oldData="field.oldValue" :newData="field.value"/>
    </template>
  </panel-item>
</template>

<script>
import JsonCompare from 'vue-json-compare'

export default {
  props: ['resource', 'resourceName', 'resourceId', 'field'],
  components: { JsonCompare }
}
</script>
